<!DOCTYPE html>
<head>
    <title>Document</title>
    
</head>
<body>
    
    <div class="container">

        <h2>Nova Tarefa</h2>

        <form action="/save" method="POST">
            <input type="text" class="form-control" name="conta"/></br>
            <input type="text" class="form-control" name="pagamento"/></br>
            <input type="text" class="form-control" name="valor"/></br>
            <!--<input type="text" class="form-control" name="pagamento"/>-->
            <button class="btn btn-primary">Salvar</button>
        </form>

        <br/>
        
        <a href="/" class="btn btn-danger">Voltar</a>
    </div>

</body>
</html>