<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Finance Agency - Suas Finanças Web</title>
</head>
<body>
    <div class="container">

        <h1>Suas Despesas</h1>

        <table class="table table-dark table-striped">
            
            {% for despesas in lista: %}
            <tr>
                <td>{{ despesas['conta'] }}</td>
                <td>{{ despesas['pagamento'] }}</td>
                <td>{{ despesas['valor'] }}</td> deleta = request.form['deleta']
            </tr>
            {% endfor %}

        </table>
        <a href="/create" class="btn btn-primary">Adicionar</a>
        
    </div>
    <div class="container">

        <form action="/deletar" method="POST">
            <input type="text" class="form-control" name="deleta"/>
            <button class="btn btn-primary">excluir</button>
        </form>

    </div>
</body>
</html>