<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>Finance Agency - Suas Finanças Web</title>
</head>
<body>
    <div>

        <h1>Suas Despesas</h1>

        <table>
            
            {% for despesas in lista: %}
            <tr>
                <td>{{ despesas['conta'] }}</td>
                <td>{{ despesas['pagamento'] }}</td>
                <td>{{ despesas['valor'] }}</td>
            </tr>
            {% endfor %}

        </table>
        <a href="/create" class="btn btn-primary">Adicionar</a>
        <a href="/buscar" class="btn btn-primary">pesquisar</a>
    </div>
    <div>

        <form action="/deletar" method="POST">
            <input type="text" class="form-control" name="deleta"/>
            <button class="btn btn-primary">excluir</button>
        </form>

    </div>

</body>
