<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA_Compatible" content="ie=edge">
    <title>Finance Agency - Suas Finanças Web</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Teste</h1>
    <!--<div class="container">

        <h1>Lista de Tarefas</h1>

        <table class="table table-hover">

            {% for tarefa in lista: %}
            <tr>
                <td>{{ tarefa['texto'] }}</td>
                <td>{{ tarefa['concluida'] }} </td>
            </tr>
            {% endfor %}

        </table>

        <a href="/create" class="btn btn-primary">Adicionar</a>
    </div>-->

</body>
</html>